.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel__header {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/** public-button-style */
.panel_header_action_default-btn {
  border-radius: 6px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.panel__header__action {
  padding-right: 5px;
}
.panel_header_action_default-btn:hover {
  background-color: #2563eb; /* primary darker */
}
.panel__expand-area {
  width: 100%;
  overflow: hidden;
  transition: height var(--lasting, 300ms) ease;
}
.panel__expand-area--collapse {
  height: 0;
}
.panel__expand-area--expand {
  /* 通过 JS 写入 --panel-height */
  height: var(--panel-height, auto);
}